header {
  height: 100px;
  padding: 30px;
}
body {
  background: #E5E5E5;
}

.startpage {
  display: flex;
  width: 100%;
  height: 390px;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
h1 {
  display: flex; 
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
}
#dicain {
  display: flex;
  position: absolute;
  top: 70px;
  right: 100px;
  color: rgb(118, 117, 117);
  border-radius: 20px;
  border-style: none;
  background-color: white;
  width: 15%;
  height: 8%;
  padding: 2%;
  font-size: 22px;
  margin-left: 100px;
  outline: none;
  resize: none;
}
#addword {
  display: none;
}
.word {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-left: auto;
}
.word .word-content {
  display: block;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: #2e466e;
  box-shadow: 5px 5px #20537580;
  margin-left: 7px;
  margin-right: 7px;
} 
.word .word-contentOFF {
  font-size: 30px;
  width: 50px;
  height: 7px;
  border-radius: 10px;
  background-color: #2e466e;
  box-shadow: 5px 5px #20537580;
  margin-left: 7px;
  margin-right: 7px;
} 
#letter {
  display: block;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: #f9fdff;
  text-align: center;
}
#letterOFF {
  font-size: 0px;
  display: block;
  text-align: center;
}
.games {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
  width: 940px;
  height: 440px;
  padding-bottom: 10px;
}
.base{
  display: flex;
  position: absolute;
  margin-top: -200px;
  margin-left: 180px;
} 
.astemaior{
  display: flex;
  position: absolute;
  margin-top: -555px;
  margin-left: 250px;
}
.astemenor {
  display: flex;
  position: absolute;
  margin-top: -555px;
  margin-left: 250px;
}
.corda{
  display: flex;
  position: absolute;
  margin-top: -555px;
  margin-left: 424px;
}

.cabeca{
  display: flex;
  position: absolute;
  margin-top: -506px;
  margin-left: 395px;
}

.tronco{
  display: flex;
  position: absolute;
  margin-top: -445px;
  margin-left: 424px;
}   

.bracodireito{
  display: flex;
  position: absolute;
  margin-top: -445px;
  margin-left: 428px;
}

.bracoesquerdo{
  display: flex;
  position: absolute;
  margin-top: -445px;
  margin-left: 388px;
}
.pernadireita{
  display: flex;
  position: absolute;
  margin-top: -313px;
  margin-left: 426px;
}

.pernaesquerda{
  display: flex;
  position: absolute;
  margin-top: -313px ;
  margin-left: 389px;
}
#inputCHAR {
  display: flex;
  position: absolute;
  top: 150px;
  left: 40px;
  width: 25%;
  height: 10%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color:rgb(93, 92, 92);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #E5E5E5;
  caret-color: #F3F5FC;
  flex: none;
  resize: none;
  border-style: none;
  outline:0px none transparent;
  letter-spacing: 4px;
}
#inputCHAR:focus {
  border-style: none;
}

#screen {
  position: absolute;
  background-color: white;
  top: 70px;
  
}
.BUTTON_PLAY {
  width: 30%;
  height: 9%;
  margin-top: 70px;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.BUTTON_PLAY:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.BUTTON_ADDWORD {
  width: 30%;
  height: 9%;
  margin-top: 10px;
  box-shadow:inset 0px 0px 15px 3px #6781a6;
  background:linear-gradient(to bottom, #dae1eb 5%, #c5d2eb 100%);
  background-color:#dae1eb;
  border-radius:17px;
  border:1px solid #263d61;
  cursor:pointer;
  color:#152b82;
  font-family:Arial;
  font-size:15px;
  padding:6px 13px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
  }
.BUTTON_ADDWORD:hover {
  background:linear-gradient(to bottom, #c5d2eb 5%, #dae1eb 100%);
  background-color:#c5d2eb;
}
.BUTTON_NEWPLAY {
  width: 30%;
  height: 9%;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.BUTTON_NEWPLAY:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.BUTTON_CANCEL {
  margin-left: 10px;
  width: 30%;
  height: 9%;
  box-shadow:inset 0px 0px 15px 3px #6781a6;
  background:linear-gradient(to bottom, #dae1eb 5%, #c5d2eb 100%);
  background-color:#dae1eb;
  border-radius:17px;
  border:1px solid #263d61;
  cursor:pointer;
  color:#152b82;
  font-family:Arial;
  font-size:15px;
  padding:6px 13px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
  }
.BUTTON_CANCEL:hover {
  background:linear-gradient(to bottom, #c5d2eb 5%, #dae1eb 100%);
  background-color:#c5d2eb;
}
.footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright {
  align-items: center;
  margin-bottom: 0;
  margin-top: 18px;
}
.copyrightGame {
  display: flex;
  position: absolute;
  align-items: center;
}
.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5); /*opacity, transparent 50%*/
  z-index: 3000;
  display: flex;
  justify-content: center; /*center HORIZONTAL*/
  align-items: center; /*center VERTICAL*/
  position: fixed;
  top: 0px;
  left: 0px;
}
.modal {
  background: white;
  width: 25%;
  min-width: 10%;
  padding: 20px;
  border: 2px solid;
  border-color: #263d61;
  border-radius: 10px;
}
.title-modal-win {
  margin-bottom: 10px;
  display: none;
  justify-content: center;
  color: #234384;
  font-size: 25px;
  font-weight: 600;
}
.title-modal-lose {
  margin-bottom: 10px;
  display: none;
  justify-content: center;
  color: #a32126;
  font-size: 25px;
  font-weight: 600;
}
.subtitle-modal {
  margin-bottom: 20px;
  display: flex;
  font-size: 17px;
  justify-content: center;
}
.BUTTON_NEWPLAY_MODAL {
  width: 30%;
  height: 9%;
  display: flex;
  float: left;
  flex-wrap: wrap;
  justify-content: center;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.BUTTON_NEWPLAY_MODAL:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.BUTTON_CANCEL_MODAL {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  float: left;
  width: 30%;
  height: 9%;
  box-shadow:inset 0px 0px 15px 3px #6781a6;
  background:linear-gradient(to bottom, #dae1eb 5%, #c5d2eb 100%);
  background-color:#dae1eb;
  border-radius:17px;
  border:1px solid #263d61;
  cursor:pointer;
  color:#152b82;
  font-family:Arial;
  font-size:15px;
  padding:6px 13px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
  }
.BUTTON_CANCEL_MODAL:hover {
  background:linear-gradient(to bottom, #c5d2eb 5%, #dae1eb 100%);
  background-color:#c5d2eb;
}
.button-modal {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .games, .dica, .startpage{
    width: auto;
  }
  .BUTTON_PLAY, .BUTTON_ADDWORD{
    width: 60%;
    height: auto;
  }
  .imgforca img:nth-child(-n+0) {
    display: flex;
    margin-left: 4%
  }
  .word {
    width: 100%;
  }
  #inputCHAR {
    width: 25%;
    top: 40%;
    margin-left: -8px;
  }
  #dicain {
    top: 20%;
    width: 30%;
    height: 16%;
    right: 62%;
    margin-left: 0px;
  }
  .base{
    display: flex;
    position: absolute;
    margin-top: -200px;
    margin-left: 0px;
  } 
  .astemaior{
    display: flex;
    position: absolute;
    margin-top: -555px;
    margin-left: 80px;
  }
  .astemenor {
    display: flex;
    position: absolute;
    margin-top: -555px;
    margin-left: 80px;
  }
  .corda{
    display: flex;
    position: absolute;
    margin-top: -555px;
    margin-left: 255px;
  }
  .cabeca{
    display: flex;
    position: absolute;
    margin-top: -506px;
    margin-left: 226px;
  }
  
  .tronco{
    display: flex;
    position: absolute;
    margin-top: -445px;
    margin-left: 255px;
  }   
  
  .bracodireito{
    display: flex;
    position: absolute;
    margin-top: -445px;
    margin-left: 255px;
  }
  
  .bracoesquerdo{
    display: flex;
    position: absolute;
    margin-top: -445px;
    margin-left: 220px;
  }
  .pernadireita{
    display: flex;
    position: absolute;
    margin-top: -313px;
    margin-left: 255px;
  }
  .pernaesquerda{
    display: flex;
    position: absolute;
    margin-top: -313px ;
    margin-left: 220px;
  }
  .modal {
    width: 70%;
  }
  .button-modal .BUTTON_NEWPLAY_MODAL .BUTTON_CANCEL_MODAL{
    width: auto;
    height: auto;
  }
}

  
